{% extends 'products/layout.html' %}
{% load static %}

{% block style %}

  @media only screen and (max-width: 600px)  {
    .table{
      display: none;
    }
    .old{
      display: inline;
    }
  }

  @media only screen and (min-width: 600px)  {

    .old{
      display: none;
    }
  }

  .shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  }

  .title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  }

  .item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  }

  .item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
  }

  /* Buttons -  Delete and Like */
  .shopping_cart button {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
  }

  .delete-btnz {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("{% static 'delete-icn.svg' %}") no-repeat center;
  margin-right: 20px;
  }

  .like-btnz {
  position: absolute;
  top: 9px;
  left: 15px;
  display: inline-block;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
  }

  .is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
  }

  @keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
  }

  /* Product Image */
  .image {
  margin-right: 50px;
  }

  /* Product Description */
  .description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
  }

  .description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
  }

  .description span:first-child {
  margin-bottom: 5px;
  }
  .description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
  }

  /* Product Quantity */
  .quantity {
  padding-top: 20px;
  margin-right: 60px;
  }
  .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  }

  button[class*=btnz] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  }
  .minus-btnz img {
  margin-bottom: 3px;
  }
  .plus-btnz img {
  margin-top: 2px;
  }
  button:focus,
  input:focus {
  outline:0;
  }

  /* Total Price */
  .total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  }

  /* Responsive */
  @media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
  }
{% endblock %}

{% block content %}
<br>
<br>
<div class="container">

<div class="old">
  {% for c in cart.products.all %}
    <div class="item">
      <div class="buttons">
        <a href="{% url 'remove_from_cart' id=c.id %}"><span class="delete-btnz"></span></a>
      </div>

      {% if c.product.image != None %}
        <div class="image">
          <img img src="{{ c.product.image.url }}" width="70" />
        </div>
      {% endif %}


      <div class="description">
        <span>{{ c.product.name }}</span>
      </div>

      <div class="quantity">
        <form id="form" method="post" action="{% url 'increase_quantity' id=c.id %}">
            {% csrf_token %}

        <button class="minus-btnz" type="submit" name="quantity" value="-1">
          <img src="{% static 'minus.svg' %}" alt="" />
        </button>
            {{c.quantity}}
        <button class="plus-btnz" id="plus-btnz" type="submit" name="quantity" value="1">
          <img src="{% static 'plus.svg' %}" alt="" />
        </button>


      </form>
      </div>

      <div class="total-price">{{ c.product.price }} €</div>
    </div>



  {% endfor %}
</div>


  <table class="table">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Descrição</th>
      <th scope="col">Unidades</th>
      <th scope="col">Montante</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>

    {% for c in cart.products.all %}
    <tr>
      <td>
        {% if c.product.image != None %}
          <div class="image">
            <img img src="{{ c.product.image.url }}" width="70" />
          </div>
        {% endif %}
      </td>
      <td>
        <div class="description">
          <span>{{ c.product.name }}</span>
        </div>
      </td>
      <td>
        <div class="quantity">
          <form id="form" method="post" action="{% url 'increase_quantity' id=c.id %}">
              {% csrf_token %}

          <button class="minus-btnz" type="submit" name="quantity" value="-1">
            <img src="{% static 'minus.svg' %}" alt="" />
          </button>
              {{c.quantity}}
          <button class="plus-btnz" id="plus-btnz" type="submit" name="quantity" value="1">
            <img src="{% static 'plus.svg' %}" alt="" />
          </button>
        </form>
        </div>
      </td>
      <td>
        <div class="total-price">{{ c.product.price }} €</div>
      </td>
      <td>
        <div class="item">
        <div class="buttons">
          <a href="{% url 'remove_from_cart' id=c.id %}"><span class="delete-btnz"></span></a>
        </div>
      </td>


        </div>
    </tr>
    {% endfor %}

  </tbody>
</table>


</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p>Custos de Envio: 3€</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h1>Preço Total: {{ cart.total_price }} €</h1>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'products' %}"><button name="button" class="btn btn-primary" style="margin-top:20px">Continuar a Comprar</button></a>
    </div>

    <div class="col-md-4">
      <a href="{% url 'shipping_details' %}"><button type="Submit" name="button" class="btn btn-primary" style="margin-top:20px">Finalizar Compra</button></a>
    </div>
  </div>
</div>


<br>
{% endblock %}

{% block script%}
<script type="text/javascript">
function myFunction() {
  document.getElementById("plus-btn").stepUp(1);
}
</script>
{% endblock%}
