{% extends 'products/layout.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="row contact">
  <div class="col-md-1 col-sm-2 col-xs-3">
    <img class="img-responsive" src="{% static 'img/fblogo_1.png' %}">
  </div>
  <div class="col-md-11">
    <a href="https://www.facebook.com/saoperolas/"><h3>Facebook</h3></a>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-2 col-xs-3">
    <img class="img-responsive" src="{% static 'img/instalogo.png' %}">
  </div>
  <div class="col-md-11">
    <a href="https://www.instagram.com/sao.perolas/?hl=pt"><h3>Instagram</h3></a>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-2 col-xs-3">
    <img class="img-responsive" src="{% static 'img/gmapslogo.png' %}">
  </div>
  <div class="col-md-11">
    <a href="https://goo.gl/maps/zYQMKM3QPZ52"><h3>Rua Coronel Pereira da Silva, 2B. 1300-147 Lisboa</h3></a>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-2 col-xs-3">
    <img class="img-responsive" src="{% static 'img/celllogo.png' %}">
  </div>
  <div class="col-md-11">
    <a href=""><h3>960003160</h3></a>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-sm-2 col-xs-3">
    <img class="img-responsive" src="{% static 'img/maillogo.png' %}">
  </div>
  <div class="col-md-11">
    <a href="mailto:sao.perolas.pt@gmail.com"><h3>sao.perolas.pt@gmail.com</h3></a>
  </div>
</div>
{% endblock %}
